/* MAIN-HEADER */
.container{
    padding-left: 0;
    padding-right: 0;
}


.main-header{
    padding-top: 20px;
    line-height: 80px;
}

.logo-header{
   vertical-align: middle;
   width: 200px;
    
}

.container .lista-logo ul{
    padding-left: 0;
}

.container .lista-logo ul> li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
}

.container .lista-logo li> a{
    color: rgb(3, 28, 78);
    padding-left: 10px;
    text-decoration: none;
}

.container .lista-logo li> a:hover{
    color: rgb(38, 135, 253);
}

.container .bottone-1{
    border-color: rgb(38, 135, 253);
    background: #fff;
    color: rgb(38, 135, 253);
    font-size: 18px;
    margin-left: 5px;
}

.container .bottone-1:hover{
    color: #fff;
    background: rgb(38, 135, 253);
}

/* MENU-HAMBURGER  */
 .menu-1{
  padding-top: 20px;
}

.menu-hamburger{
    position: absolute;
    right: 0;
}

.menu-icona{
    width: 35px;
    height: 5px;
    background-color: rgb(38, 135, 253);         
    margin: 6px 0;
}

/* MAIN-JUMBOTRON */
.sfondo{
    background-image: url(../img/bg-banner-home.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: auto;
}

.main-section h1{
color: #fff;
font-size: 48px;
}

.main-section .deploy-sec{
color: rgb(187, 205,255);
font-size: 25px;
padding-top: 20px;
}

.sfondo-main{
    background: #fff;
    border-radius: 5px;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sfondo-main h3{
    color: rgb(3, 28, 78);
    font-size: 28px;
}

.sfondo-main .get-start{
    color: rgb(38, 135, 253);
    font-size: 28px;
}

.email-pass .form-control{
    font-size: 20px;
    margin-bottom: 15px;
}

.pulsante{
    width: 100%;
    background: rgb(38, 135, 253);
    height: 35px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    padding: 6px;
    line-height: 25px;
    margin-bottom: 10px;
}

.pulsante-2{
    width: 100%;
    background: #fff;
    height: 35px;
    border-radius: 5px;
    color: rgb(133, 133, 133);
    font-size: 20px;
    padding: 6px;
    line-height: 25px;
    box-shadow: -1px 5px 49px -9px rgba(57,56,56,0.63);
}

.fine-termini p{
    color:rgb(3, 28, 78);
    padding-top: 20px;
}

.icona-google img{
    width: 25px;
    position: absolute;
    left: 20px;
}

.fine-termini .bordo-termini {
    color: rgb(38, 135, 253);
    border-bottom: 1px solid rgb(38, 135, 253);
    text-decoration: none;
}
     